<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Artist Pretty URL" stopProcessing="true">
          <match url="^artists/([a-z0-9\-]+)/?$" ignoreCase="true" />
          <action type="Rewrite" url="products.cfm?slug={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>